@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 100px;
  background-color: #FAFAFA;
  color: #fff;
}

.logo img {
  width:48px;
  height:48px;
}

.menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  font-size: 16px;
  text-decoration: none;
  color: #121212;
  font-weight: 500;
  font-size: 16px;
}

.icons-navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: #121212;
}

.icons-navbar i {
  font-size: 20px;
}

.hero{
  background-image: url(assets/BG.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-text{
  text-align: center;
}


.hero-text h1 {
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  margin-top: 24px;
}

.hero-text p {
  font-size: 24px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 32px;
  text-align: center;
  color: #6c6b6a;
}

.button {
  --bg: #000;
  --hover-bg: #006aff;
  --hover-text: #000;
  color: #fff;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
}

.button:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem,-0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
  color: white;
}

.button:active {
  transform: translate(0);
  box-shadow: none;
}

.about-us{
  background-color: #130E0B;
  padding: 80px 120px;
}

.about-text h2{
  font-size: 56px;
  font-weight: 700;
  color: #fff;
}

.about-text p{
  font-size: 24px;
  font-weight: 400;
  color: #C8C8C8;
  margin-top: 20px;
  line-height: 160%;
}

.experience{
  /* display: flex; */
  justify-content: space-between;
  margin-top: 80px;
}

.experience-left{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.experience-right{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.experience h2{
  font-size: 48px;
  font-weight: 500;
  color: #fff;
}
.experience-text{
  margin-top: 24px;
  margin-bottom: 24px;
}

.experience-text h3{
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

.experience-text p{
  font-size: 16px;
  font-weight: 400;
  color: #969696;
  margin-top: 8px;
  margin-bottom: 16px;
}

.experience-text li{
  font-size: 16px;
  font-weight: 400;
  color: #C8C8C8;
  margin-top: 8px;
}


.education{
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.education h2{
  font-size: 48px;
  font-weight: 500;
  color: #fff;
}
.education-text{
  margin: 32px;
}

.education-text h3{
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

.education-text p{
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.Portfolio{
  padding-top: 80px;
}

.Portfolio-text{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Portfolio-text h2{
  font-size: 48px;
  font-weight: 500;
  color: #fff;
}

button {
  padding: 12px 40px;
  border: unset;
  border-radius: 8px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 600;
  font-size: 16px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
  cursor: pointer;
 }
 
 button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 8px;
  background-color: #0066ff;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 button:hover {
  color: #e8e8e8;
 }
 
 button:hover::before {
  width: 100%;
 }

.portfolio-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 40px;
}

.portfolio-item {
  width: 30%;
  margin-bottom: 30px;
  text-align: center;
}

.portfolio-item img {
  max-width: 520px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.portfolio-item h3 {
  margin-top: 16px;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

.portfolio-item p {
  margin-top: 10px;
  font-size: 16px;
  color: #fff;
}

.design-process{
  padding: 80px 120px;
}

.design-process-text{
  display: flex;
  justify-content: space-between;
}

.design-process-text h2{
  font-size: 48px;
  font-weight: 700;
  color: #121212;
}

.design-process-gallery{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.design-process-item{
  width: 264px;
  height: auto;
  margin: 24px;
  padding: 16px;
  background-color: #fff;
  text-align: center;
}


.contact-us {
  padding: 80px 120px;
}

.contact-container {
  display: flex;
}

.contact-info {
  width: 50%;
  padding-right: 30px;
}

.contact-info h2 {
  margin-bottom: 30px;
}

.contact-text {
  margin-bottom: 30px;
}

.contact-text h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact-text p {
  font-size: 16px;
  margin: 0;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.form-container {
  width: 50%;
}

.form-container h2 {
  margin-bottom: 30px;
}

form {
  max-width: 100%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  /* border-radius: 5px; */
  border: none;
  margin-bottom: 20px;
  border-bottom: 1px solid #423E3C;
}

textarea {
  height: 150px;
}
button[type="submit"] {
    background-color: #1abc9c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #16a085;
}

/* Portfolio */

.hero-portfolio{
  background-color: #FAFAFA;
  padding: 80px 120px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.hero-portfolio h1{
  font-size: 48px;
  font-weight: 700;
  color: #121212;
  text-align: center;
}

.my-portfolio{
  padding: 80px 120px;
}

.portfolio-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.portfolio-item-text h3 {
  margin-top: 16px;
  font-size: 24px;
  font-weight: 700;
  color: #121212;
}

.portfolio-item-text p {
  margin-top: 10px;
  font-size: 16px;
  color: #121212;
}