@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 100px;
  background-color: #FAFAFA;
  color: #fff;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  font-size: 16px;
  text-decoration: none;
  color: #121212;
  font-weight: 500;
  font-size: 16px;
}

.icons a {
  margin-left: 20px;
  text-decoration: none;
  color: #121212;
}

.icons i {
  font-size: 20px;
}

.hero{
  background-image: url(assets/BG.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-text{
  text-align: center;
}

.hero label{
  font-size: 16px;
  font-weight: 600;
  background-color: #006aff;  
  padding:16px;
  border-radius: 100px;
  color: #fff;  
}

.hero-text h1 {
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  margin-top: 24px;
}

.hero-text p {
  font-size: 24px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 32px;
  text-align: center;
}

.button {
  --bg: #000;
  --hover-bg: #006aff;
  --hover-text: #000;
  color: #fff;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
}

.button:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem,-0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
  color: white;
}

.button:active {
  transform: translate(0);
  box-shadow: none;
}

.about-us{
  background-color: #130E0B;
  padding: 80px 100px;
}

.about-text h2{
  font-size: 56px;
  font-weight: 700;
  color: #fff;
}

.about-text p{
  font-size: 24px;
  font-weight: 400;
  color: #C8C8C8;
  margin-top: 20px;
  line-height: 160%;
}

.experience{
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.experience h2{
  font-size: 48px;
  font-weight: 500;
  color: #fff;
}
.experience-text{
  margin: 32px;
}

.experience-text h3{
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

.experience-text p{
  font-size: 16px;
  font-weight: 400;
  color: #969696;
  margin-top: 8px;
  margin-bottom: 16px;
}

.experience-text li{
  font-size: 14px;
  font-weight: 400;
  color: #C8C8C8;
  margin-top: 8px;
}


.education{
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.education h2{
  font-size: 48px;
  font-weight: 500;
  color: #fff;
}
.education-text{
  margin: 32px;
}

.education-text h3{
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

.education-text p{
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.Portfolio{
  padding: 80px 0;
}

.Portfolio-text{
  display: flex;
  justify-content: space-between;
}

.Portfolio-text h2{
  font-size: 48px;
  font-weight: 500;
  color: #fff;
}